/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6741d9;
  --secondary-color: #f8f9fa;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
  line-height: 1.5;
}
h2 {
  font-size: 62px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
}
.hero-section {
  background: var(--secondary-color);
  text-align: center;
  padding: 130px 20px;
}
.hero-section p {
  font-weight: bold;
  font-size: 32px;
  color: #343a40;
  margin: 0;
}
.hero-section h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.6;
}
.about-section {
  padding: 130px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 75px;
}

.about-section h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 1.8;
}
.about-section p {
  font-size: 18px;
  line-height: 1.8;
}
.about-section-content {
  margin: 20px;
}
.btn-branding {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-branding:hover {
  background: #7950f2;
  color: #f3f0ff;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}
.project-desc {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 52px;
    line-height: 2;
  }
  h2 {
    font-size: 40px;
  }
  .hero-section {
    padding: 86px 20px;
  }
  .about-section {
    padding: 64px 10px;
    text-align: center;
  }
  .about-section h1 {
    font-size: 52px;
    line-height: 55px;
  }
  .project-desc {
    padding: 0;
    text-align: center;
  }
}
