/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #6741d9;
  --secondary-color: #f8f9fa;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
  line-height: 1.5;
}
h2 {
  font-size: 62px;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 25px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 16px;
}
nav a {
  text-decoration: none;
  color: #343a40;
  transition: all 200ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero-section {
  background: var(--secondary-color);
  text-align: center;
  padding: 70px 20px;
}
.hero-section p {
  font-weight: bold;
  font-size: 32px;
  color: #343a40;
  margin: 0;
}
.hero-section h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.6;
}
.content-section {
  padding: 60px 20px;
}
.content h1 {
  font-size: 54px;
  line-height: 75px;
}

.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 1.8;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.8;
  margin: 20px 0 0;
}
.content-section p {
  font-size: 18px;
  line-height: 1.8;
}
.content {
  margin: 20px;
}
.content p {
  font-size: 14px;
}
.btn-branding {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-branding:hover {
  background: #7950f2;
  color: #f3f0ff;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}
.project-desc {
  padding: 120px 60px;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: #343a40;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  font-size: 18px;
  margin-right: 18px;
  padding: 10px 15px;
  color: var(--branding-color);
  background: var(--secondary-color);
  border-radius: 50%;
  text-align: center;
  transition: all 300ms ease-in-out;
}
footer .social-links a:hover {
  color: #fff;
  background: var(--branding-color);
}
footer p {
  font-size: 17px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 52px;
    line-height: 2;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 26px;
  }
  nav a {
    font-size: 16px;
  }
  .hero-section {
    padding: 64px 20px;
  }
  .content-section {
    padding: 54px 10px;
    text-align: center;
  }
  .content h1 {
    font-size: 44px;
    line-height: 55px;
  }
  .project-desc {
    padding: 0;
    text-align: center;
  }

  footer .contact-box {
    padding: 20px;
    margin-top: 20px;
  }
  footer p {
    font-size: 13px;
  }
  footer .contact-box a {
    padding: 12px 24px;
    font-size: 14px;
  }
}
